*{
    color:azure;
}
body{
    background-color: rgb(20, 214, 178);
}
.heading{
    color: rgb(201, 34, 34);
    text-decoration: line-through;
}
#para{
    color: rgb(108, 111, 6);
    font-weight: 600;
}
#paragraph{
    color: goldenrod;
    text-align: center;
    font-weight: 700;
}
#html{
    color: aqua;
    text-decoration: none;
}